.content {
    width: 70vw;
}

.content_item {
    display: block;
    width: auto;
    height: auto;
    text-align: left;
    padding: 20px;
    justify-items: center;
    align-items: center;
    
}
